
DB_USER = 'XXXXXXXXXXXX'
DB_PASSWORD = 'XXXXXXXXXXXXX'

# database names to ignore
DB_BLACKLIST = ['dave', 'postgres', 'template0', 'template1']

# which database to default to on first pageload
INITIAL_DB_NAME = 'blindsight'

FAKE_SLOW_DELAY = 0

# crowd stuff
CROWD_FAKE_SLOW_DELAY = 0
CROWD_DB = 'icdar2003'
CROWD_MAX_WORD_HEIGHT = 300
CROWD_WORD_WIDTH = 500
CROWD_WORD_CONF_TODO = 1
CROWD_WORD_IMG_PATH = '/tmp/rigor-word-%s'

