
//.r-gray {background: #cccccc;}
//.r-blue {background: #bbbbff;}
//.r-red {background: #ffbbbb;}
//.r-green {background: #bbffbb;}
//.r-white {background: #ffffff;}

.no-bottom-margin {margin-bottom: 0px;}
.no-top-margin {margin-top: 0px;}

//.thumbnail-height-fix {height:380px;}

.black-link {color: rgb(51,51,51);}

.rigor-sidebar-form-element {width:200px;}
.rigor-sidebar-form-element2 {width:186px;}

.allow-large-image {max-width: none;}

body {
    //background: url('/static/img/cream_pixels.png');
    //background: url('/static/img/debut_light.png');
    //background: url('/static/img/cream_dust.png');
}

.dotted {border: 1px dashed red;}

.overlap {
    position: absolute;
}
.polaroid-style-padding {
    padding: 5px;
}


.svg-polygon-char {
    stroke-width: 2;
    fill: hsla(200,100%,45%,0.2);
    stroke: hsla(200,100%,70%,0.8);
}
.svg-polygon-word {
    stroke-width: 2;
    fill: hsla(130,70%,40%,0.25);
    stroke: hsla(130,70%,30%,0.8);
}
.svg-polygon-line {
    stroke-width: 2;
    fill: hsla(25,100%,45%,0.25);
    stroke: hsla(25,100%,80%,0.8);
}
.svg-polygon-lineorder {
    stroke-width: 2;
}


.svg-text-char {
    font-size: 20px;
    font-family: "Arial";
    fill: hsla(200,60%,40%,0.9);
}
.svg-text-word {
    font-size: 20px;
    font-family: "Arial";
    fill: hsla(130,60%,40%,0.9);
}
.svg-text-line {
    font-size: 20px;
    font-family: "Arial";
    fill: hsla(25,60%,40%,0.9);
}
.svg-text-border {
    font-size: 20px;
    font-family: "Arial";
    stroke: #fff;
    stroke-width: 4px;
    stroke-opacity: 0.5;
}


