
//.r-gray {background: #cccccc;}
//.r-blue {background: #bbbbff;}
//.r-red {background: #ffbbbb;}
//.r-green {background: #bbffbb;}
//.r-white {background: #ffffff;}

.no-bottom-margin {margin-bottom: 0px;}
.no-top-margin {margin-top: 0px;}
.add-top-margin1 {margin-top: 13px;}
.add-top-margin2 {margin-top: 17px;}

//.thumbnail-height-fix {height:380px;}

.black-link {color: rgb(51,51,51);}

.rigor-sidebar-form-element {width:200px;}
.rigor-sidebar-form-element2 {width:186px;}
.rigor-sidebar-form-element3 {width:50px;}
.rigor-sidebar-form-element4 {width:30px;}

.allow-large-image {max-width: none;}

.nothing-to-save {
    color: #888;
    font-style: italic;
}

body {
    //background: url('/static/img/cream_pixels.png');
    //background: url('/static/img/debut_light.png');
    //background: url('/static/img/cream_dust.png');
}

.dotted {border: 1px dashed red;}

.overlap {
    position: absolute;
}
.polaroid-style-padding {
    padding: 5px;
}


.svg-polygon-char {
    stroke-width: 2;
    fill: hsla(200,100%,45%,0.2);
    stroke: hsla(200,100%,70%,0.8);
}
.svg-polygon-word {
    stroke-width: 2;
    fill: hsla(130,70%,40%,0.25);
    stroke: hsla(130,70%,30%,0.8);
}
.svg-polygon-line {
    stroke-width: 2;
    fill: hsla(25,100%,45%,0.25);
    stroke: hsla(25,100%,80%,0.8);
}
.svg-polygon-lineorder {
    stroke-width: 2;
}

.svg-polygon-selected {
    stroke-width: 4 !important;
    stroke: hsla(345,100%,55%,0.8);
}

.model-text-char {
    color: hsl(200,60%,40%);
    background: hsla(0,0%,100%,0.8);
    padding: 1px 2px;
    line-height: normal;
    font-size: 16px;
}
.model-text-word {
    color: hsl(130,60%,40%);
    background: hsla(0,0%,100%,0.8);
    padding: 1px 2px;
    line-height: normal;
    font-size: 16px;
}
.model-text-line {
    color: hsl(25,60%,40%);
    background: hsla(0,0%,100%,0.8);
    padding: 1px 2px;
    line-height: normal;
    font-size: 16px;
}
.model-text-selected {
    color: hsl(345,100%,55%) !important;
    background: hsla(0,0%,100%,1);
}

.model-text-sidebar {
    white-space: pre-wrap;
    font-size: 15px;
}

.crowd-giant-input {
    font-size: 35px !important;
    height: 38px !important;
    letter-spacing: 3px !important;
    /*font-family: monospace !important;*/
}

.crowd-sushi-start-handle-flag {
    position: absolute;
    padding: 4px 8px;
    background: hsla(226, 81%, 57%, 1);
    color: white;
    font-weight: bold;
    font-size: 17px;
    width: 10px;
    height: 20px;
}

.crowd-sushi-start-handle-line {
    position: absolute;
    background: hsla(226, 81%, 57%, 1);
    width: 3px;
    height: 150px;
}

.crowd-sushi-end-handle-line {
    position: absolute;
    background: hsla(0, 81%, 57%, 1);
    margin-top: 28px;
    width: 3px;
    height: 150px;
}

.crowd-sushi-image {
    margin-top: 28px;
}

