
//.r-gray {background: #cccccc;}
//.r-blue {background: #bbbbff;}
//.r-red {background: #ffbbbb;}
//.r-green {background: #bbffbb;}
//.r-white {background: #ffffff;}

.no-bottom-margin {margin-bottom: 0px;}
.no-top-margin {margin-top: 0px;}

//.thumbnail-height-fix {height:500px;}

.black-link {color: rgb(51,51,51);}

.rigor-sidebar-form-element {width:200px;}
.rigor-sidebar-form-element2 {width:186px;}

.allow-large-image {max-width: none;}

body {
    //background: url('/static/img/cream_pixels.png');
    //background: url('/static/img/debut_light.png');
    //background: url('/static/img/cream_dust.png');
}

