
            <p>
                 id: <strong>(( detail.image.id ))</strong>
            <br> locator: <strong>(( detail.image.locator ))</strong>
            <br> date: <strong>(( detail.image.stamp*1000 | date:'yyyy-MM-dd' ))</strong>
            <br> sensor: <strong>(( detail.image.sensor ))</strong>
            <br> source: <strong>(( detail.image.source ))</strong>
            <br> <span ng-repeat="tag in detail.image.tags">
                    <a href="#" ng-click="clickTag(tag)" class="label label-info">(( tag ))</a>
                 </span>
            </p>

            <img ng-src="(( detail.image.url ))">

