
            <ul class="pager">
                <li ng-class="{previous: true,  disabled: !prevButtonIsEnabled()}">
                    <a href="#" ng-click="clickPrevButton()">&larr; Prev</a>
                </li>
                <b> Page (( query.page+1 )) of (( search_results.last_page + 1 )) </b>
                <li ng-class="{next: true,  disabled: !nextButtonIsEnabled()}">
                    <a href="#" ng-click="clickNextButton()">Next &rarr;</a>
                </li>
            </ul>

            <!-- IMAGES -->
            <ul class="thumbnails">

                <li class="span3 thumbnail-height-fix" ng-repeat="image in search_results.images">
                    <div class="thumbnail">
                        <a href="#/(( image.database_name ))/detail/(( image.locator ))">
                            <img ng-src="(( image.thumb_url ))" width=200>
                        </a>
                        <p>
                                 id: <strong>(( image.id ))</strong>
                            <br> date: <strong>(( image.stamp*1000 | date:'yyyy-MM-dd' ))</strong>
                            <br> sensor: <strong>(( image.sensor ))</strong>
                            <br> source: <strong>(( image.source ))</strong>
                            <br> <span ng-repeat="tag in image.tags">
                                    <a href="#" ng-click="clickTag(tag)" class="label label-info">(( tag ))</a>
                                 </span>
                        </p>
                    </div>
                </li>

            </ul>

