<!DOCTYPE html>
<html lang="en" ng-app="browseApp" ng-controller="BrowseController">
<head>
    <title> Rigor </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />
    <script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/browse.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="span12">

            <h2><a href="#/(( query.database_name ))/browse"> Rigor </a></h2>

        </div>
    </div>
    <div class="row">
        <div class="span3">

            <!-- SEARCH -->
            <div class="well well-small">
                <form ng-submit="clickSearchButton()" class="no-bottom-margin">
                    <label>database</label>
                    <select class="span2" ng-model="query.database_name">
                        <option ng-repeat="dbname in search_form.database_names">(( dbname ))</option>
                    </select>

                    <label>source</label>
                    <select class="span2" ng-model="query.source">
                        <option ng-repeat="source in search_form.sources">(( source ))</option>
                    </select>

                    <label>sensor</label>
                    <select class="span2" ng-model="query.sensor">
                        <option ng-repeat="sensor in search_form.sensors">(( sensor ))</option>
                    </select>

                    <label>has_tags</label>
                    <!--<input type="text" class="span2" ng-model="query.exclude_tags">-->
                    <textarea rows=3 class="span2" ng-model="query.has_tags"></textarea>

                    <label>exclude_tags</label>
                    <textarea rows=3 class="span2" ng-model="query.excludet_tags"></textarea>

                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Search</button>
                        <a href="#" ng-click="clickClearButton()" class="btn">Clear</a>
                    </div>
                </form>
            </div>

            <!-- RESULT STATS -->
            <div class="well well-small">
                <h4> (( search_results.full_count )) Results &rarr; </h4>
                <p>
                    Stats will go here
                </p>
            </div>

            <!-- BATCH EDIT -->
            <div class="well well-small">
                <h4> Batch Edit </h4>
                <p>
                    Lines <br>
                    Words <br>
                    Characters
                </p>
            </div>
        </div>

        <div class="span9" ng-view>

            <!-- THUMBS OR DETAIL VIEW HERE -->

        </div>

    </div>

</div>

</body>
</html>
