<!DOCTYPE html>
<html lang="en" ng-app="browseApp" ng-controller="BrowseController">
<head>
    <title> Rigor </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/vendor/select2-3.2.0.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <script src="/static/js/vendor/jquery-1.9.1.js"></script>
    <script src="/static/js/vendor/select2-3.2.0.js"></script>

    <script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/browse.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="span12">

            <h2><a href="" class="black-link"> Rigor </a></h2>

        </div>
    </div>

    <div ng-switch="ViewChooser.view">
        <!-- SEARCH AND THUMB VIEW -->
        <div ng-switch-when="thumbs">

            <div class="row">

                <!-- SEARCH FORM -->
                <div class="span3">
                    <div class="well well-small">

                        <form ng-submit="SearchAndThumbView.doSearch()" class="no-bottom-margin">
                            <label>database</label>
                            <select class='rigor-sidebar-form-element' ng-model="SearchAndThumbView.query.database_name">
                                <option ng-repeat="dbname in SearchAndThumbView.database_name_choices">(( dbname ))</option>
                            </select>

                            <label>has_tags</label>
                            <input type="text" class="rigor-sidebar-form-element2" ng-model="SearchAndThumbView.has_tags_user_input">

                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary"> Search </button>
                                <a href="" ng-click="SearchAndThumbView.clickClearButton()" class="btn">Clear</a>
                            </div>

                            <!-- debug output -->
                            <div>
                                <br> <b>query:</b>
                                <br> <pre>(( SearchAndThumbView.query | json ))</pre>
                                <br>
                                <br> <b>database_name_choices:</b>
                                <br> (( SearchAndThumbView.database_name_choices | json ))
                                <br>
                                <br> <b>tag_choices:</b>
                                <br> (( SearchAndThumbView.tag_choices | json ))
                            </div>

                        </form>



                    </div>
                </div>

                <!-- THUMB GRID -->
                <div class="span9" ng-switch="SearchAndThumbView.result_state">

                    <div ng-switch-when="empty">

                    </div>
                    <div ng-switch-when="loading">
                        <b> loading... </b>
                    </div>
                    <div ng-switch-when="loaded">


                        <ul class="pager">
                            <li ng-class="{previous: true,  disabled: !SearchAndThumbView.prevButtonIsEnabled()}">
                                <a href="" ng-click="SearchAndThumbView.clickPrevButton()">&larr; Prev</a>
                            </li>
                            <b> Page (( SearchAndThumbView.query.page+1 )) of (( SearchAndThumbView.result_last_page + 1 )) </b>
                            <li ng-class="{next: true,  disabled: !SearchAndThumbView.nextButtonIsEnabled()}">
                                <a href="" ng-click="SearchAndThumbView.clickNextButton()">Next &rarr;</a>
                            </li>
                        </ul>

                        <ul class="thumbnails">
                            <li class="span3 thumbnail-height-fix" ng-repeat="image in SearchAndThumbView.result_images">
                                <div class="thumbnail">
                                    <!-- fixed-size div to enforce regularity in the thumbnail grid -->
                                    <div style="width:210px; height:200px; text-align:center;">
                                        <a href="" ng-click="SearchAndThumbView.switchToImage(image.id)">
                                            <img ng-src="(( image.thumb_url ))">
                                        </a>
                                    </div>
                                    <p>
                                        <strong>(( image.stamp*1000 | date:'yyyy-MM-dd' ))</strong>
                                        / id (( image.id ))
                                    </p>
                                    <!-- fixed height tag area to enforce regularity in the thumbnail grid -->
                                    <div style="height:80px">
                                        <span ng-repeat="tag in image.tags">
                                            <a href="" ng-click="SearchAndThumbView.clickTag(tag)" class="label label-info">(( tag ))</a>
                                         </span>
                                    </div>
                                </div>
                            </li>
                        </ul>


                    </div>
                    <!-- end ng-switch result_state === loaded -->

                </div>
                <!-- end span9 ng-switch result_state -->

            </div>
            <!-- end row -->

        </div>
        <!-- END SEARCH AND THUMB VIEW -->

        <!-- DETAIL VIEW -->
        <div ng-switch-when="detail">
            <h4> detail view </h4>
            <pre>(( DetailView | json ))
            </pre>
        </div>

    </div>

</div>

</body>
</html>
