<!DOCTYPE html>
<html lang="en" ng-app="browseApp" ng-controller="BrowseController">
<head>
    <title> Rigor </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/vendor/select2-3.2.0.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <script src="/static/js/vendor/jquery-1.9.1.js"></script>
    <script src="/static/js/vendor/select2-3.2.0.js"></script>

    <script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/browse.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container">

    <div class="row">
        <div class="span12">

            <h2><a href="" class="black-link"> Rigor </a></h2>

        </div>
    </div>

    <div ng-switch="ViewChooser.view">
        <!-- SEARCH AND THUMB VIEW -->
        <div ng-switch-when="thumbs">

            <div class="row">

                <!-- SEARCH FORM -->
                <div class="span3">
                    <div class="well well-small">

                        <form ng-submit="TODO()" class="no-bottom-margin">
                            <label>database</label>
                            <select class='rigor-sidebar-form-element' ng-model="SearchAndThumbView.query.db_name">
                                <option ng-repeat="dbname in SearchAndThumbView.db_name_choices">(( dbname ))</option>
                            </select>

                            <label>has_tags</label>
                            <input type="text" class="rigor-sidebar-form-element2" ng-model="SearchAndThumbView.has_tags_user_input">

                            <div class="btn-group">
                                <button type="submit" class="btn btn-primary"> Search </button>
                                <a href="" ng-click="TODO()" class="btn">Clear</a>
                            </div>

                            <!-- debug output -->
                            <div>
                                     <b>db_name_choices:</b>
                                <br> (( SearchAndThumbView.db_name_choices | json ))
                                <br>
                                <br> <b>tag_choices:</b>
                                <br> (( SearchAndThumbView.tag_choices | json ))
                                <br>
                                <br> <b>query:</b>
                                <br> (( SearchAndThumbView.query | json ))
                            </div>

                        </form>



                    </div>
                </div>

                <!-- THUMB GRID -->
                <div class="span9" ng-switch="SearchAndThumbView.result_state">

                    <div ng-switch-when="empty">
                        <i> (empty) </i>
                    </div>
                    <div ng-switch-when="loading">
                        <b> loading... </b>
                    </div>
                    <div ng-switch-when="full">
                        full
                    </div>

                </div>

            </div>

        </div>
        <!-- END SEARCH AND THUMB VIEW -->

    </div>

</div>

</body>
</html>
