<!DOCTYPE html>
<html lang="en" ng-app="crowdImagesApp" ng-controller="CrowdImagesController">
<head>
    <title> Word approver </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <!--script src="/static/js/vendor/jquery-1.9.1.js"></script-->

    <!--script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/crowd_images.js" type="text/javascript" charset="utf-8"></script>
</head>
<body
    ng-mouseup="ImagesView.handleMouseUp($event)"
    ng-mousemove="ImagesView.handleMouseMove($event)"
>

<div class="container-fluid">

    <div class="row">
        <div class="span9">

            <h2>
                <a href="/" class="black-link">Crowd editor</a>
                <span class="muted"> / Word adjuster </span>
            </h2>
            <div>
                <span class="muted"> Progress: </span>
                <b> (( ImagesView.stats.words_raw ))      </b> <span class="muted"> words to adjust &rarr; </span>
                <b> (( ImagesView.stats.words_approved )) </b> <span class="muted"> to <a href="/words">slice</a> &rarr; </span>
                <b> (( ImagesView.stats.words_sliced ))   </b> <span class="muted"> done. </span>
                <b> (( ImagesView.stats.words_progress * 100 | number:0 ))% </b> <span class="muted"> complete </span>
            </div>

        </div>
        <div class="span3">
            <div>&nbsp;</div>
            <div class="btn btn-large" ng-click="ImagesView.clickSkipButton()" title="Come back to this image later"> Skip </div> 
            <div class="btn btn-large btn-primary" ng-click="ImagesView.clickSaveButton()"> Save &rarr; </div> 
        </div>
    </div>

    <hr/>

    <div class="row" ng-switch on="ImagesView.state">
        <div class="span6" ng-switch-when="loading">
            <i>Loading...</i>
        </div>
        <div class="span6" ng-switch-when="saving">
            <i>Saving...</i>
        </div>
        <div class="span6" ng-switch-when="empty">
            <i ng-if="ImagesView.stats.words_approved === 0">All done!  All words are approved and sliced.</i>
            <i ng-if="ImagesView.stats.words_approved !== 0">All words are approved.  Now, go slice them.</i>
        </div>
        <div class="span12" ng-switch-when="ready">
            <div>
                Drag the boxes to match the rotation and perspective of the words.
                Hold down <b>shift</b> to drag with greater precision.
                The grid inside a selected word is only there to help you see the rotation; it is not going to line up with specific characters.
                If the word is small, use the browser to zoom the page.
                The yellow handle should be in the upper corner of the beginning of the word.
                If there are missing or extra words, skip the image.
            </div>
            <br>
            <div class="muted">
                <span> Image (( ImagesView.image.image_id )) </span>
                <span ng-show="ImagesView.anythingIsSelected()"> / <a href="/words#/(( ImagesView.selected_word.annotation_id ))">word (( ImagesView.selected_word.annotation_id ))</a></span>
            </div>
            <img
                class="img-polaroid overlap allow-large-image"
                ng-src="(( ImagesView.image.url ))"
                />
            <svg
                class="polaroid-style-padding overlap allow-large-image"
                ng-attr-width="(( ImagesView.image.x_resolution ))"
                ng-attr-height="(( ImagesView.image.y_resolution ))"
                >
                    <!-- background for clicking to deselect -->
                    <rect
                        class="svg-invisible"
                        x="0" y="0"
                        ng-click="ImagesView.clickToDeselect()"
                        ng-attr-width="(( ImagesView.image.x_resolution ))"
                        ng-attr-height="(( ImagesView.image.y_resolution ))"
                    />
                    <!-- main box -->
                    <polygon
                        ng-attr-class="(( 'svg-polygon-word ' + (ImagesView.isSelectedWord(word) && 'svg-polygon-selected-crowd') ))"
                        ng-repeat="word in ImagesView.image.words"
                        ng-click="ImagesView.clickWord(word)"
                        ng-attr-points="(( ImagesView.boundaryToSvgPoints(word.boundary) ))"
                    />
                    <!-- vertical gridlines -->
                    <line
                        ng-repeat="pct in [0.08, 0.25, 0.5, 0.75, 0.92]"
                        class="svg-selected-gridline"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-attr-x1="(( (1-pct) * ImagesView.selectedBoundary()[0][0] + pct * ImagesView.selectedBoundary()[1][0] ))"
                        ng-attr-y1="(( (1-pct) * ImagesView.selectedBoundary()[0][1] + pct * ImagesView.selectedBoundary()[1][1] ))"
                        ng-attr-x2="(( (1-pct) * ImagesView.selectedBoundary()[3][0] + pct * ImagesView.selectedBoundary()[2][0] ))"
                        ng-attr-y2="(( (1-pct) * ImagesView.selectedBoundary()[3][1] + pct * ImagesView.selectedBoundary()[2][1] ))"
                    />
                    <!-- horizontal gridlines -->
                    <line
                        ng-repeat="pct in [0.1, 0.3, 0.7, 0.9]"
                        class="svg-selected-gridline"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-attr-x1="(( (1-pct) * ImagesView.selectedBoundary()[0][0] + pct * ImagesView.selectedBoundary()[3][0] ))"
                        ng-attr-y1="(( (1-pct) * ImagesView.selectedBoundary()[0][1] + pct * ImagesView.selectedBoundary()[3][1] ))"
                        ng-attr-x2="(( (1-pct) * ImagesView.selectedBoundary()[1][0] + pct * ImagesView.selectedBoundary()[2][0] ))"
                        ng-attr-y2="(( (1-pct) * ImagesView.selectedBoundary()[1][1] + pct * ImagesView.selectedBoundary()[2][1] ))"
                    />
                    <!-- skew handles -->
                    <rect
                        class="svg-selected-skew-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('skew',0,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[0][0]/2 + ImagesView.selected_word.boundary[1][0]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[0][1]/2 + ImagesView.selected_word.boundary[1][1]/2 - ImagesView.config.skewHandleSize*3/2 || 0 ))"
                        ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                    />
                    <rect
                        class="svg-selected-skew-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('skew',1,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[1][0]/2 + ImagesView.selected_word.boundary[2][0]/2 + ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[1][1]/2 + ImagesView.selected_word.boundary[2][1]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                    />
                    <rect
                        class="svg-selected-skew-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('skew',2,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[2][0]/2 + ImagesView.selected_word.boundary[3][0]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[2][1]/2 + ImagesView.selected_word.boundary[3][1]/2 + ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                    />
                    <rect
                        class="svg-selected-skew-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('skew',3,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[3][0]/2 + ImagesView.selected_word.boundary[0][0]/2 - ImagesView.config.skewHandleSize*3/2 || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[3][1]/2 + ImagesView.selected_word.boundary[0][1]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                        ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                    />
                    <!-- corner handles -->
                    <rect
                        class="svg-selected-corner-handle-zero"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('corner',0,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[0][0] - ImagesView.config.cornerHandleSize || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[0][1] - ImagesView.config.cornerHandleSize || 0 ))"
                        ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                    />
                    <rect
                        class="svg-selected-corner-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('corner',1,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[1][0]                                      || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[1][1] - ImagesView.config.cornerHandleSize || 0 ))"
                        ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                    />
                    <rect
                        class="svg-selected-corner-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('corner',2,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[2][0] || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[2][1] || 0 ))"
                        ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                    />
                    <rect
                        class="svg-selected-corner-handle"
                        ng-show="ImagesView.anythingIsSelected()"
                        ng-mousedown="ImagesView.handleMouseDown('corner',3,$event)"
                        ng-attr-x="(( ImagesView.selected_word.boundary[3][0] - ImagesView.config.cornerHandleSize || 0 ))"
                        ng-attr-y="(( ImagesView.selected_word.boundary[3][1]                                      || 0 ))"
                        ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                    />
            </svg>
        </div>
    </div>

    <div style="background:white; height:(( ImagesView.image.y_resolution + 500 ))px;">&nbsp;</div>

    <!--
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <hr/>
    <div>
        <pre> state = (( ImagesView.state )) </pre>
        <pre> image = (( ImagesView.image )) </pre>
        <pre> stats = (( ImagesView.stats )) </pre>
        <pre> selected word = (( ImagesView.selected_word )) </pre>
    </div>
    -->

</div>
