<!DOCTYPE html>
<html lang="en" ng-app="crowdWordsApp" ng-controller="CrowdWordsController">
<head>
    <title> Rigor: Crowd version </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <!--script src="/static/js/vendor/jquery-1.9.1.js"></script-->

    <!--script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/crowd_words.js" type="text/javascript" charset="utf-8"></script>
</head>
<body
    ng-mouseup="WordsView.sushiHandleMouseUp($event)"
    ng-mousemove="WordsView.sushiHandleMouseMove($event)"
>

<div class="container-fluid">

    <div class="row">
        <div class="span9">

            <h2><a href="/" class="black-link"> Rigor crowd editor: word slicer </a></h2>
            <div>
                <span class="muted"> Words: </span>
                <b> (( WordsView.stats.words_raw ))      </b> <span class="muted"> unreviewed &rarr; </span>
                <b> (( WordsView.stats.words_verified )) </b> <span class="muted"> verified &rarr; </span>
                <b> (( WordsView.stats.words_sliced ))   </b> <span class="muted"> sliced </span>
            </div>

        </div>
        <div class="span3">
            <div>&nbsp;</div>
            <div class="btn btn-large" ng-click="WordsView.clickSkipButton()"> Skip </div> 
            <div class="btn btn-large btn-primary" ng-click="WordsView.clickSaveButton()"> Save &rarr; </div> 
        </div>
    </div>

    <hr/>

    <div class="row" ng-switch on="WordsView.state">
        <div class="span6" ng-switch-when="loading">
            <i>Loading...</i>
        </div>
        <div class="span6" ng-switch-when="empty">
            <i ng-if="WordsView.stats.words_raw === 0">No words to slice.  All done!</i>
            <i ng-if="WordsView.stats.words_raw !== 0">No words to slice right now.  Go review more words.</i>
        </div>
        <div class="span6" ng-switch-when="ready">
            <div><span class="muted"> word (( WordsView.word.annotation_id )): </span></div>
            <div>&nbsp;</div>
            <form>
                <input type="text" class="crowd-giant-input span5" ng-model="WordsView.word.model" />
            </form>
        </div>
        <div class="span6" ng-switch-when="ready">
            <!-- flags/handles with letters -->
            <div class="crowd-sushi-start-handle-flag"
                ng-repeat="char in WordsView.word.chars"
                ng-mousedown="WordsView.sushiHandleMouseDown(char,$event)"
                style="
                    margin-left: (( '' + (char.start * WordsView.word.x_res) + 'px' ));
                ">
                (( char.model ))
            </div>
            <div class="crowd-sushi-end-handle-flag"
                ng-repeat="char in WordsView.word.chars"
                ng-mousedown="WordsView.sushiHandleMouseDown(char,$event)"
                style="
                    margin-left: (( '' + (char.end * WordsView.word.x_res - 23) + 'px' ));
                    margin-top: (( '' + (28 + WordsView.word.y_res) + 'px' ));
                ">
                (( char.model ))
            </div>
            <!-- vertical lines -->
            <div class="crowd-sushi-start-handle-line"
                ng-repeat="char in WordsView.word.chars"
                style="
                    margin-left: (( '' + (char.start * WordsView.word.x_res) + 'px' ));
                    height: (( '' + (WordsView.word.y_res * 0.9) + 'px' ));
                ">
            </div>
            <div class="crowd-sushi-end-handle-line"
                ng-repeat="char in WordsView.word.chars"
                style="
                    margin-left: (( '' + (char.end * WordsView.word.x_res) + 'px' ));
                    margin-top: (( '' + (28 + WordsView.word.y_res * 0.1) + 'px' ));
                    height: (( '' + (WordsView.word.y_res * 0.9) + 'px' ));
                ">
            </div>
            <img class="crowd-sushi-image" ng-src="(( WordsView.word.image_url ))">
        </div>
    </div>

    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <hr/>
    <div>
        <pre> state = (( WordsView.state )) </pre>
        <pre> word = (( WordsView.word )) </pre>
        <pre> stats = (( WordsView.stats )) </pre>
        <pre> dragState = (( WordsView.dragState )) </pre>
    </div>

</div>
