<!DOCTYPE html>
<html lang="en" ng-app="crowdIndexApp" ng-controller="CrowdIndexController">
<head>
    <title> Rigor: Crowd version </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/vendor/select2-3.2.0.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <!--script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/crowd_index.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="span12">

            <h2> Rigor crowd editor </h2>

        </div>
    </div>

    <div class="row">
        <div class="span12">
            <div class="well">

                <h4>
                    (( IndexView.stats.words_raw )) unreviewed words &rarr;

                    <a href="/images" class="btn btn-large btn-primary"> Approver </a>

                    &rarr; (( IndexView.stats.words_approved )) approved &rarr;

                    <a href="/words" class="btn btn-large btn-primary"> Slicer </a>

                    &rarr; (( IndexView.stats.words_sliced )) sliced
                </h4>

            </div>
        </div>
    </div>

</div>
