<!DOCTYPE html>
<html lang="en" ng-app="crowdApp" ng-controller="CrowdController">
<head>
    <title> Rigor: Crowd version </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/vendor/select2-3.2.0.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="span12">

            <h2> Rigor crowd editor </h2>

        </div>
    </div>

    <div class="row">
        <div class="span6">
            <div class="well well-small">
                    <a href="/images" class="btn btn-large btn-primary"> Word approver </a>
                    <h4> 103 / 205 words approved </h4>

            </div>
        </div>
        <div class="span6">
            <div class="well well-small">

                <a href="/words" class="btn btn-large btn-primary"> Word slicer </a>
                    <h4> 29 / 495 words sliced </h4>

            </div>
        </div>
    </div>

</div>
