<!DOCTYPE html>
<html lang="en" ng-app="crowdWordsApp" ng-controller="CrowdWordsController">
<head>
    <title> Rigor: Crowd version </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <!--script src="/static/js/vendor/jquery-1.9.1.js"></script-->

    <!--script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/crowd_words.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<div class="container-fluid">

    <div class="row">
        <div class="span12">

            <h2><a href="" class="black-link" ng-click="ViewChooser.switchView('thumbs')"> Rigor: Crowd version: words </a></h2>

        </div>
    </div>

    <hr/>

    <div class="row" ng-switch on="WordsView.state">
        <div class="span6" ng-switch-when="loading">
            <i>Loading...</i>
        </div>
        <div class="span6" ng-switch-when="ready">
            <div>
                <form>
                    <input type="text" class="giant-input" ng-model="WordsView.word.model" />
                </form>
            </div>
        </div>
        <div class="span6" ng-switch-when="ready">
            <h3> [ image ] </h3>
            <ul>
                <li ng-repeat="char in WordsView.word.chars">
                    <b>(( char.model ))</b>
                </li>
            </ul>
            <div class="btn btn-primary" ng-click="WordsView.clickSkipButton()"> Skip </div> 
            <div class="btn btn-primary" ng-click="WordsView.clickSaveButton()"> Save </div> 
        </div>
    </div>

    <hr/>

    <div>
        state: <b> (( WordsView.state )) </b>
        <pre> (( WordsView.word )) </pre>
    </div>

</div>
