<!DOCTYPE html>
<html lang="en" ng-app="crowdImagesApp" ng-controller="CrowdImagesController">
<head>
    <title> Word adjuster </title>
    <meta name="HandheldFriendly" content="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/rigor.css" />

    <script src="/static/js/vendor/browserdetect.js"></script>

    <!--script src="/static/js/vendor/jquery-1.9.1.js"></script-->

    <!--script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>

    <script src="/static/js/crowd_images.js" type="text/javascript" charset="utf-8"></script>
</head>
<body
    ng-mouseup="ImagesView.handleMouseUp($event)"
    ng-mousemove="ImagesView.handleMouseMove($event)"
>

<!-- browser warning modal -->
<div class="modal-backdrop" ng-show="ImagesView.isBrowserModalVisible"></div>
<div id="myModal" class="modal" ng-show="ImagesView.isBrowserModalVisible">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ImagesView.clickDismissBrowserWarning()">&times;</button>
        <h3>Please use Google Chrome</h3>
    </div>
    <div class="modal-body">
        <p>This web app only works correctly in Google Chrome.</p>
    </div>
    <div class="modal-footer">
        <a href="#" ng-click="ImagesView.clickDismissBrowserWarning()" class="btn btn-danger">Try anyway</a>
    </div>
</div>

<!-- help modal -->
<div class="modal-backdrop" ng-show="ImagesView.isHelpModalVisible"></div>
<div id="myModal" class="modal" style="top: 5% !important; width: 620px !important;" ng-show="ImagesView.isHelpModalVisible">
    <div class="modal-header">
        <button type="button" class="close" ng-click="ImagesView.clickDismissHelp()">&times;</button>
        <h3>Help</h3>
    </div>
    <div class="modal-body" style="max-height: 520px !important">
        <p> Hold down <b>shift</b> to drag with greater precision. </p>
        <p> If the word is small, use the browser to zoom the page. </p>
        <p> The yellow handle should be in the top left of the word. </p>
        <p> If there are missing or extra words, skip the image for now. </p>
        <p> The box should include the rotation and perspective of the word, as if it was printed on the 
            same surface as the text. </p>
        <p> If the text is in italics, the box should <b>not</b> be slanted to match. </p>
        <p><img src="/static/img/word_example_04.png"></p>
        <p><img src="/static/img/word_example_02.png"></p>
    </div>
    <div class="modal-footer">
        <a href="#" ng-click="ImagesView.clickDismissHelp()" class="btn btn-primary">Ok</a>
    </div>
</div>

<!-- main page -->
<div class="container-fluid">

    <div class="row">
        <div class="span7">

            <h2>
                <a href="/" class="black-link">Word finder</a>
                <span class="muted"> / Adjuster </span>
            </h2>
            <div>
                <span class="muted"> Progress: </span>
                <b> (( ImagesView.stats.words_raw ))      </b> <span class="muted"> words to adjust &rarr; </span>
                <b> (( ImagesView.stats.words_approved )) </b> <span class="muted"> to <a href="/words">slice</a> &rarr; </span>
                <b> (( ImagesView.stats.words_sliced ))   </b> <span class="muted"> done. </span>
                <b> (( ImagesView.stats.words_progress * 100 | number:0 ))% </b> <span class="muted"> complete </span>
            </div>

        </div>
        <div class="span5 text-right">
            <div>&nbsp;</div>
            <div class="btn btn-large btn-success" ng-click="ImagesView.clickShowHelp()"> Instructions </div>
            &nbsp;
            &nbsp;
            <div class="btn btn-large"             ng-click="ImagesView.clickSkipButton()" title="Come back to this image later"> Skip </div> 
            <div class="btn btn-large btn-primary" ng-click="ImagesView.clickSaveButton()"> Done &rarr; </div> 
        </div>
    </div>

    <hr/>

    <div ng-switch on="ImagesView.state">
        <div class="row" ng-switch-when="loading">
            <div class="span12">
                <i>Loading...</i>
            </div>
        </div>

        <div class="row" ng-switch-when="saving">
            <div class="span12">
                <i>Saving...</i>
            </div>
        </div>

        <div class="row" ng-switch-when="empty">
            <div class="span12">
                <i ng-if="ImagesView.stats.words_approved === 0">Everything is done!  All words are adjusted and sliced.</i>
                <i ng-if="ImagesView.stats.words_approved !== 0">All words are adjusted.  Now, go <a href="/words">slice</a> them.</i>
            </div>
        </div>

        <div class="row" ng-switch-when="ready">
            <div class="span12">
                <div>
                    <canvas id="preview-canvas-source" style="display:none;"></canvas>
                    <canvas id="preview-canvas-crop" class="" width=600 height=100></canvas>
                </div>
                <div>
                    <h5 style="color:red">
                        <b>Please make sure the boxes match the rotation and perspective of each word.  Click the Instructions button for examples.</b>
                    </h5>
                </div>
            </div>
        </div>
        <div class="row" ng-switch-when="ready">
            <div class="span12">
                <div class="muted">
                    <span> Image (( ImagesView.image.image_id )) </span>
                    <span ng-show="ImagesView.anythingIsSelected()"> / <a href="/words#/(( ImagesView.selected_word.annotation_id ))">word (( ImagesView.selected_word.annotation_id ))</a>.  State: (( {1:"raw", 2:"approved", 3:"sliced"}[ImagesView.selected_word.confidence] )) </span>
                </div>
                <img
                    id="main-img"
                    class="img-polaroid overlap allow-large-image"
                    ng-src="(( ImagesView.image.url ))"
                    />
                <svg
                    class="polaroid-style-padding overlap allow-large-image"
                    ng-attr-width="(( ImagesView.image.x_resolution ))"
                    ng-attr-height="(( ImagesView.image.y_resolution ))"
                    >
                        <!-- background for clicking to deselect -->
                        <rect
                            class="svg-invisible"
                            x="0" y="0"
                            ng-click="ImagesView.clickToDeselect()"
                            ng-attr-width="(( ImagesView.image.x_resolution ))"
                            ng-attr-height="(( ImagesView.image.y_resolution ))"
                        />
                        <!-- main box -->
                        <polygon
                            ng-attr-class="(( 'svg-polygon-word ' + (ImagesView.isSelectedWord(word) && 'svg-polygon-selected-crowd') ))"
                            ng-repeat="word in ImagesView.image.words"
                            ng-click="ImagesView.clickWord(word)"
                            ng-attr-points="(( ImagesView.boundaryToSvgPoints(word.boundary) ))"
                        />
                        <!-- vertical gridlines -->
                        <line
                            ng-repeat="pct in [0.08, 0.25, 0.5, 0.75, 0.92]"
                            class="svg-selected-gridline"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-attr-x1="(( (1-pct) * ImagesView.selectedBoundary()[0][0] + pct * ImagesView.selectedBoundary()[1][0] ))"
                            ng-attr-y1="(( (1-pct) * ImagesView.selectedBoundary()[0][1] + pct * ImagesView.selectedBoundary()[1][1] ))"
                            ng-attr-x2="(( (1-pct) * ImagesView.selectedBoundary()[3][0] + pct * ImagesView.selectedBoundary()[2][0] ))"
                            ng-attr-y2="(( (1-pct) * ImagesView.selectedBoundary()[3][1] + pct * ImagesView.selectedBoundary()[2][1] ))"
                        />
                        <!-- horizontal gridlines -->
                        <line
                            ng-repeat="pct in [0.1, 0.3, 0.7, 0.9]"
                            class="svg-selected-gridline"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-attr-x1="(( (1-pct) * ImagesView.selectedBoundary()[0][0] + pct * ImagesView.selectedBoundary()[3][0] ))"
                            ng-attr-y1="(( (1-pct) * ImagesView.selectedBoundary()[0][1] + pct * ImagesView.selectedBoundary()[3][1] ))"
                            ng-attr-x2="(( (1-pct) * ImagesView.selectedBoundary()[1][0] + pct * ImagesView.selectedBoundary()[2][0] ))"
                            ng-attr-y2="(( (1-pct) * ImagesView.selectedBoundary()[1][1] + pct * ImagesView.selectedBoundary()[2][1] ))"
                        />
                        <!-- skew handles -->
                        <rect
                            class="svg-selected-skew-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('skew',0,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[0][0]/2 + ImagesView.selected_word.boundary[1][0]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[0][1]/2 + ImagesView.selected_word.boundary[1][1]/2 - ImagesView.config.skewHandleSize*3/2 || 0 ))"
                            ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                        />
                        <rect
                            class="svg-selected-skew-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('skew',1,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[1][0]/2 + ImagesView.selected_word.boundary[2][0]/2 + ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[1][1]/2 + ImagesView.selected_word.boundary[2][1]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                        />
                        <rect
                            class="svg-selected-skew-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('skew',2,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[2][0]/2 + ImagesView.selected_word.boundary[3][0]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[2][1]/2 + ImagesView.selected_word.boundary[3][1]/2 + ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                        />
                        <rect
                            class="svg-selected-skew-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('skew',3,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[3][0]/2 + ImagesView.selected_word.boundary[0][0]/2 - ImagesView.config.skewHandleSize*3/2 || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[3][1]/2 + ImagesView.selected_word.boundary[0][1]/2 - ImagesView.config.skewHandleSize/2 || 0 ))"
                            ng-attr-width="(( ImagesView.config.skewHandleSize ))"  ng-attr-height="(( ImagesView.config.skewHandleSize ))"
                        />
                        <!-- corner handles -->
                        <rect
                            class="svg-selected-corner-handle-zero"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('corner',0,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[0][0] - ImagesView.config.cornerHandleSize || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[0][1] - ImagesView.config.cornerHandleSize || 0 ))"
                            ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                        />
                        <rect
                            class="svg-selected-corner-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('corner',1,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[1][0]                                      || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[1][1] - ImagesView.config.cornerHandleSize || 0 ))"
                            ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                        />
                        <rect
                            class="svg-selected-corner-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('corner',2,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[2][0] || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[2][1] || 0 ))"
                            ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                        />
                        <rect
                            class="svg-selected-corner-handle"
                            ng-show="ImagesView.anythingIsSelected()"
                            ng-mousedown="ImagesView.handleMouseDown('corner',3,$event)"
                            ng-attr-x="(( ImagesView.selected_word.boundary[3][0] - ImagesView.config.cornerHandleSize || 0 ))"
                            ng-attr-y="(( ImagesView.selected_word.boundary[3][1]                                      || 0 ))"
                            ng-attr-width="(( ImagesView.config.cornerHandleSize ))"  ng-attr-height="(( ImagesView.config.cornerHandleSize ))"
                        />
                </svg>
            </div> <!-- end span12 -->
        </div> <!-- end row -->
    </div> <!-- end switch -->

    <div style="background:white; height:(( ImagesView.image.y_resolution + 500 ))px;">&nbsp;</div>

    <!--
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <hr/>
    <div>
        <pre> state = (( ImagesView.state )) </pre>
        <pre> image = (( ImagesView.image )) </pre>
        <pre> stats = (( ImagesView.stats )) </pre>
        <pre> selected word = (( ImagesView.selected_word )) </pre>
    </div>
    -->

</div>
