<!doctype html>
<html xmlns:ng="http://angularjs.org">
<head>
    <meta charset="utf-8">
    <title>AngularJS Plunker</title>
  
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/themes/base/jquery-ui.css">
    <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
    <link href="http://ivaynberg.github.com/select2/select2-3.2/select2.css" rel="stylesheet"/>

    <script src="/static/js/vendor/jquery-1.9.1.js"></script>

    <!--<script src="/static/js/vendor/jquery-ui-1.10.3.min.js"></script>-->

    <!--<script src="/static/js/vendor/bootstrap.js"></script>-->

    <script src="/static/js/vendor/select2-3.2.0.js"></script>

    <script src="/static/js/vendor/angular-1.0.6.js" type="text/javascript" charset="utf-8"></script>

    <script src="/static/js/vendor/angular-ui-0.3.2.js"></script>


    <script>
        // app.js

        var demoApp = angular.module('demoApp', ['ui']);

        demoApp.config(function($interpolateProvider) {
            $interpolateProvider.startSymbol('((');
            $interpolateProvider.endSymbol('))');
        });

        angular.module('demoApp').controller('MainCtrl', function($scope, $timeout) {
            $scope.select2settings = {
                tags: ['green','red','blue'],
                tokenSeparators: [",", " "]
            };
            $scope.select2chosenTags = ['red'];

            $timeout(
                function() {
                    $scope.select2settings.tags.push('purple');
                    $scope.select2settings.tags.push('orange');
                    $scope.select2settings.tags.push('yellow');
                    console.log('added more colors');
                }, 1000
            );

            $scope.getTags = function() {
                var result = [];
                angular.forEach($scope.select2chosenTags, function(item,ii) {
                    if (typeof item === 'string' || item instanceof String) {
                        result.push(item);
                    } else {
                        result.push(item.id);
                    }
                });
                return result;
            };
        });

    </script>
</head>

<body ng-app="demoApp" ng-controller="MainCtrl">

    <h5>select2settings: ((select2settings|json))</h5>
    <h5>select2chosenTags: ((select2chosenTags))</h5>
    <h5>getTags(): (( getTags() ))</h5>
    <p>
    <p>
        Input:
        <input
            type="hidden"
            class="input-large"
            ng-model="select2chosenTags"
            ng-multiple
            ui-select2="select2settings"
        />
    </p>

</body>
</html>


